//Default styles for everything don't use this to add specific widths - treat it like a mobile size.

/*=======Colours=========*/
@orange:#FF6933;
@pink:#FF0048;
@turq:#19B5A5;

html {
	height: 100%;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

body {
	height: 100%;
	padding:  0 0 0 0;
	margin: 0 0 0 0;
	line-height: 1.5;
	font-size: 1.125rem; //18/16 = 1.125em
	color: #ffffff;
	background: #333333;
	font-family:"PT Sans", sans-serif;
}

p {
	color: #333333;
	padding: 0 0 0 0;
	margin: 0 0 1.5rem 0;
}

a {
	text-decoration: none;
	color:;
}

h1,h2 {
	font-weight: 700;
	font-family:"Maven Pro", sans-serif;
	margin: 0 0 1.5rem 0;
	padding: 0 0 0 0;
}

h1 {
	font-size:2.25rem;
	text-transform: uppercase;
	letter-spacing: 10px;
}

h2 {
	font-size:1.5em;
	text-transform: uppercase;
	letter-spacing: 5px;
}

.row {
	width: 100%;
	.clearfix();
}

.container {
	max-width: 1280px;
	margin: 0 auto 0 auto;
}

//Delete these

.logo {
	margin: 0 auto 0 auto;
	padding: 200px 0 0 0;
	text-align: center;

	img {
		width:134px;
	}

	p {
		color: #555555;
		letter-spacing: 10px;
		text-transform: uppercase;
		margin: -20px 0 0 0;
	}
}

