@import url("http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic|Maven+Pro:700");
/*===========================================================================================//
  GHOSTLY - A FRAMEWORK THAT DOESN'T APPEAR TO BE THERE
  VER - 0.0

  The framework is used by dropping less mixins into classes so that your HTML isn't cluttered up,
  to make this easier to understand then the framework has modules that you can load in by 
  uncommenting them.
//===========================================================================================*/
/*=======Colours=========*/
html {
  height: 100%;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
body {
  height: 100%;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  line-height: 1.5;
  font-size: 1.125rem;
  color: #ffffff;
  background: #333333;
  font-family: "PT Sans", sans-serif;
}
p {
  color: #333333;
  padding: 0 0 0 0;
  margin: 0 0 1.5rem 0;
}
a {
  text-decoration: none;
  color: ;
}
h1,
h2 {
  font-weight: 700;
  font-family: "Maven Pro", sans-serif;
  margin: 0 0 1.5rem 0;
  padding: 0 0 0 0;
}
h1 {
  font-size: 2.25rem;
  text-transform: uppercase;
  letter-spacing: 10px;
}
h2 {
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.row {
  width: 100%;
}
.row:before,
.row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}
.container {
  max-width: 1280px;
  margin: 0 auto 0 auto;
}
.logo {
  margin: 0 auto 0 auto;
  padding: 200px 0 0 0;
  text-align: center;
}
.logo img {
  width: 134px;
}
.logo p {
  color: #555555;
  letter-spacing: 10px;
  text-transform: uppercase;
  margin: -20px 0 0 0;
}
