@import url("http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic|Maven+Pro:700");
/*===========================================================================================//
  GHOSTLY - A FRAMEWORK THAT DOESN'T APPEAR TO BE THERE
  VER - 0.0

  The framework is used by dropping less mixins into classes so that your HTML isn't cluttered up,
  to make this easier to understand then the framework has modules that you can load in by 
  uncommenting them.
//===========================================================================================*/
/*=======Colours=========*/
/*Typography - Uses the modular scale of 2:5 - Perfect Fifth*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  height: 100%;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
body {
  height: 100%;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  line-height: 1.5;
  font-size: 1.125rem;
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
}
p {
  color: #333333;
  padding: 0 0 0 0;
  margin: 0 0 1.5rem 0;
}
a {
  text-decoration: none;
  color: ;
}
h1,
h2 {
  font-weight: 700;
  font-family: "Maven Pro", sans-serif;
  margin: 0 0 1.5rem 0;
  padding: 0 0 0 0;
}
h1 {
  font-size: 2.25rem;
  text-transform: uppercase;
  letter-spacing: 10px;
}
h2 {
  font-size: 1.3em;
  text-transform: uppercase;
  letter-spacing: 5px;
}
/*====Structural Clases====*/
header {
  width: 100%;
  overflow: hidden;
}
.row {
  width: 100%;
}
.row:before,
.row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}
.container {
  max-width: 1280px;
  margin: 0 auto 0 auto;
  padding: 0 20px;
}
/*====Stuff for the landing page - Delete these after======*/
.hero {
  background-image: url('../media/landing.jpg');
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -10;
}
.hero .logo {
  margin: 0 auto 0 auto;
  padding: 200px 0 0 0;
  text-align: center;
}
.hero .logo img {
  width: 134px;
}
.hero .logo p {
  color: #555555;
  letter-spacing: 10px;
  text-transform: uppercase;
  margin: -20px 0 0 0;
}
.slogan {
  margin: 100vh 0 0 0;
  padding: 100px 0;
  background: #ffffff;
}
.slogan h2 {
  margin: 0;
  text-align: center;
  color: #19b5a5;
}
.gallery {
  background: #ff6933;
  height: auto;
  margin: 0px auto;
  padding: 60px 0;
}
.gallery h1 {
  margin: 0 auto 50px;
  text-align: center;
  color: #fff;
}
.about {
  padding: 90px 0 100px 0;
  background: #ff0048;
}
.about h2 {
  margin: 0;
  text-align: center;
  color: #fff;
}
.about p {
  color: #fff;
  margin: 0 auto;
  text-align: justify;
  padding-top: 30px;
  width: 500px;
  font-weight: 100;
}
.footer {
  background-color: #080808;
  padding: 90px 0;
}
.footer .logo {
  margin: 0 auto 0 auto;
  padding: 60px 0 50px 0;
  text-align: center;
}
.footer .logo img {
  width: 75px;
}
.footer .logo p {
  color: #666;
  padding: 0 0 10px 0;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin: 0px 0 0 0;
}
.footer .logo p:hover {
  border-bottom: 1px solid #555555;
  width: 480px;
  margin: 0 auto;
}
#instafeed {
  width: 66.66666666666667%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  float: none;
  margin: 0 auto 0 auto;
  padding: 0 0 0 30px;
}
nav {
  padding: 30px 0;
  width: 83.33333333333334%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  float: none;
  margin: 0 auto 0 auto;
}
nav ul {
  list-style-type: none;
  width: 85%;
  margin: 0 auto;
  padding: 0 0 0 0;
}
nav ul li {
  display: inline-block;
  font-size: 1.55555556rem;
  font-family: 'Maven Pro', sans-serif;
}
nav ul li a {
  color: #fff;
  margin: 0 20px;
  padding: 10px 15px;
  border: 3px solid transparent;
}
nav ul li a:hover {
  border: 3px solid #fff;
  padding: 10px 15px;
}
